# Discord Bot Token
STATUS_BOT_TOKEN=

# RCON Passwords
# It's recommended to use unique passwords for each server.
# You can add more servers by following the same pattern: RCON_PASS_2, RCON_PASS_3, etc.
RCON_PASS_0=
RCON_PASS_1=
RCON_PASS_2=
