# Bot language. Options: 'en' for English, 'pt_BR' for Brazilian Portuguese.
LANGUAGE = "en"

# Your Discord Bot's Token.
# NEVER share or commit this token to public repositories.
STATUS_BOT_TOKEN = "YOUR_TOKEN_HERE"

# List of servers to monitor.
# You can add as many servers as you want, just copy the dictionary block.
SERVERS = [
        {
            "NAME": "Server Name 1",         # Display name for the server.
            "SERVER_IP" : "127.0.0.1",            # IP of the Conan Exiles server.
            "RCON_PORT" : 25575,                  # RCON port of the server.
            "RCON_PASS" : "YOUR_RCON_PASSWORD_HERE",  # RCON password of the server.
            "STATUS_CHANNEL_ID" : 123456789012345678, # Discord channel ID to post the status.
            "DB_PATH": "", # Optional: Absolute path to the game.db file for this server to show player levels. e.g., "/path/to/server/ConanSandbox/Saved/game.db",
            # --- Playtime Reward Configuration (Server-specific) ---
            # This block is optional. If you don't want rewards for this specific server,
            # you can set "ENABLED" to False or remove the "REWARD_CONFIG" block entirely.
            "REWARD_CONFIG": {
                "ENABLED": True,
                "REWARD_INTERVAL_MINUTES": 120,
                "REWARD_ITEM_ID": 12345,
                "REWARD_QUANTITY": 10
            }
        },
        {
            "NAME": "Server Name 2",
            "SERVER_IP": "127.0.0.1",
            "RCON_PORT": 25576,
            "RCON_PASS": "YOUR_OTHER_RCON_PASSWORD",
            "STATUS_CHANNEL_ID": 987654321098765432,
            "DB_PATH": "",
            # Rewards are disabled for this server as an example.
            # You can enable it by adding a REWARD_CONFIG block like the one for "Server Name 1".
            "REWARD_CONFIG": {
                "ENABLED": False
            }
        }
]
