# Idioma do bot. Opções: 'en' para Inglês, 'pt_BR' para Português do Brasil.
LANGUAGE = "en"

# Token do seu Bot do Discord.
# NUNCA compartilhe ou envie este token para repositórios públicos.
STATUS_BOT_TOKEN = "SEU_TOKEN_AQUI"

# Lista de servidores para monitorar.
# Você pode adicionar quantos servidores quiser, basta copiar o bloco de dicionário.
SERVERS = [
        {
            "NAME": "Nome do Servidor 1",         # Nome de exibição para o servidor.
            "SERVER_IP" : "127.0.0.1",            # IP do servidor Conan Exiles.
            "RCON_PORT" : 25575,                  # Porta RCON do servidor.
            "RCON_PASS" : "SUA_SENHA_RCON_AQUI",  # Senha RCON do servidor.
            "STATUS_CHANNEL_ID" : 123456789012345678 # ID do canal do Discord para postar o status.
        },
        {
            "NAME": "Nome do Servidor 2",
            "SERVER_IP": "127.0.0.1",
            "RCON_PORT": 25576,
            "RCON_PASS": "SUA_OUTRA_SENHA_RCON",
            "STATUS_CHANNEL_ID": 987654321098765432
        }
]