# Bot language. Options: 'en' for English, 'pt_BR' for Brazilian Portuguese.
LANGUAGE = "en"

# Your Discord Bot's Token.
# NEVER share or commit this token to public repositories.
STATUS_BOT_TOKEN = "YOUR_TOKEN_HERE"

# List of servers to monitor.
# You can add as many servers as you want, just copy the dictionary block.
SERVERS = [
        {
            "NAME": "Server Name 1",         # Display name for the server.
            "SERVER_IP" : "127.0.0.1",            # IP of the Conan Exiles server.
            "RCON_PORT" : 25575,                  # RCON port of the server.
            "RCON_PASS" : "YOUR_RCON_PASSWORD_HERE",  # RCON password of the server.
            "STATUS_CHANNEL_ID" : 123456789012345678 # Discord channel ID to post the status.
        },
        {
            "NAME": "Server Name 2",
            "SERVER_IP": "127.0.0.1",
            "RCON_PORT": 25576,
            "RCON_PASS": "YOUR_OTHER_RCON_PASSWORD",
            "STATUS_CHANNEL_ID": 987654321098765432
        }
]
